.header {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  h2 {
    font-size: 1.2rem;
  }
  input {
    width: 50%;
    margin: 0 2rem;
    background-color: rgb(78, 78, 78);
    height: 1.8rem;
    border-radius: 1rem;
    padding: 0 1rem;
    border: none;
  }
  input:hover {
    border: none;
  }
  div {
    display: flex;
    width: 15%;
    justify-content: space-around;
  }
}
