.platform {
  //   border: solid yellow 1px;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  p {
    // border: solid white 1px;
    font-size: 1.1rem;
  }
  .menuLogo {
    margin: 0 1rem;
    height: 1rem;
    height: 1.5rem;
    // border: solid red 1px;
  }
}
